node_modules
dist
npm-debug.log
.env
.env.*
.git
.gitignore
README.md
Dockerfile
docker-compose*
.dockerignore
coverage
.nyc_output
*.spec.ts
*.test.ts
test
.eslintrc.js
.prettierrc
nest-cli.json
tsconfig.build.json